ul.notificator {
  display: inline-block;
  float:right;
  margin: 0;
  li
  {
    position: relative;
    list-style: none;

    i
    {
      color: #fff;
    }
  }
}

#notification-counter {
  position: absolute;
  top: -2px;
  left: 25px;

  background-color: rgb(212, 78, 3);
  color: #fff;
  border-radius: 3px;
  padding: 1px 3px;
  font: 8px Verdana;
}
